
<div class="container">
  
  <div class="d-flex justify-content-center">
    <h2 class="text-primary titulo">POP IT FIDGET</h2>
  </div>

  <div class="d-flex justify-content-center">
    <h1 class="text-warning">R$39.99</h1>
  </div>

  <div class="d-flex justify-content-center">
    <iframe width="331" height="181" src="https://youtube.com/embed/u548qyxRTBU"  allowfullscreen></iframe>
  </div>

  <div class="d-flex justify-content-center">
    <h2 class="text-warning mt-2">Garanta já o seu</h2>
  </div>

  <div class="d-flex justify-content-center">
    <p class="text-white m-2">PRODUTO A PRONTA ENTREGA <br>
    COM ENVIO IMEDIATO.
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg btn-block" href="https://api.whatsapp.com/send?phone=5581994247174&text=Vim%20pelo%20an%C3%BAncio%20do%20POP%20IT%20FIDGET%20TOY%2C%20pode%20me%20mandar%20o%20cat%C3%A1logo%20com%20os%20pre%C3%A7os%3F" target="_blank">COMPRAR</a>
  </div>

  <div class="d-flex justify-content-center">
    <p class="text-warning m-3">POUCAS UNIDADE DISPONÍVEIS.</p>
  </div>

  <div class="d-flex justify-content-start">
    <ul class="text-white">
      <li>Material: Silicone</li>
      <li>Forma: Circulo, Quadrado, Hexágono, Coração.</li>
      <li>Peso: Hexágono 40g, Quadrado 50g, Redondo 46g</li>
      <li>Tamanho: 12.5*12.5*1.5cm</li>
    </ul>
  </div>

  <div class="row px-4">
     <div class="col-12">
      <p class="text-warning">VENHA COMPRAR O SEU TAMBÉM, TÁ ACABANDO!</p>
    </div>

    <div class="col-4">
      <img src="../assets/pop-it01.jpeg" alt="">
    </div>
    <div class="col-4">
      <img src="../assets/pop-it02.jpeg" alt="">
    </div>
    <div class="col-4">
      <img src="../assets/pop-it03.jpeg" alt="">
    </div>

    <div class="col-4">
      <img src="../assets/pop-it01.jpeg" alt="">
    </div>
    <div class="col-4">
      <img src="../assets/pop-it02.jpeg" alt="">
    </div>
    <div class="col-4">
      <img src="../assets/pop-it03.jpeg" alt="">
    </div>

    
  </div>

</div>

<router-outlet></router-outlet>